{% extends 'base.html' %}
{% load static from staticfiles %}
{% block styles %}
{% endblock styles %}
{% block title %} Administrar {% endblock %}

{% block content %}

    <div id="page-content-wrapper">
        <div class="container">

            <div class="col-md-12">
                <div class="row">


                    <button type="button" class=" btnEventos rounded btn btn-success"><i
                            class="fa fa-check-square"> </i> Atendidos
                    </button>


                    <!-- Contextual button for informational alert messages -->
                    <button type="button" class="btnEventos btn btn-info"><i class="fa fa-thumbs-o-up"></i>
                        Confirmados
                    </button>


                    <!-- Indicates caution should be taken with this action -->
                    <button type="button" class="btnEventos btn btn-warning"><i
                            class="fa fa-exclamation-triangle"></i> Pendientes
                    </button>

                    <!-- Indicates a dangerous or potentially negative action -->
                    <button type="button" class="btnEventos btn btn-danger"><i class="fa fa-window-close"></i>
                        Cancelados
                    </button>

                </div>

            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}

    <script>

        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock scripts %}


