{% extends 'base.html' %}

{% load static from staticfiles %}
{% block styles %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{%  static 'reserva/css/altaEscenario.css'%}">
<script href="{% static 'reserva/jquery/jquery.min.js' %}"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{% endblock styles %}



{% block title %} Agregar escenario{% endblock %}

{% block content %}

<div class="container" id="formEscenario">
    <div class="row">

        <div class="col-sm-12 ">


            <h4 class="lead">Agregar Escenario</h4>

            <hr class="my-4">

        
            
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">{{ form.nombre_escenario.label_tag}} </label>
                        {{ form.nombre_escenario }}
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">{{ form.tipo_escenario.label_tag}} </label>
                        {{ form.tipo_escenario }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">{{ form.ubicacion.label_tag}} </label>
                        {{ form.ubicacion }}
                            
                    </div>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">{{ form.estado.label_tag}} </label>
                        {{ form.estado }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">Imagen:</label>
                        {{form.imagen}}
                    </div>
                    <div class="col-md-6">
                            <label class="form-label">Actualmente:</label>
                        {% if instance.imagen %} 
                            <img src="{{instance.imagen.url}}" class="thumbnail-escenario"> 
                        {% else %}
                            <img src="http://via.placeholder.com/350x150">
                        {% endif %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Guardar escenario</button>



            </form>

        </div>



    </div>



</div>









{%  endblock content %}