{% extends 'base.html' %}

{% load static from staticfiles %}
{% block styles %}
<meta charset="UTF-8">
<link rel="stylesheet" href="{%  static 'reserva/css/altaEscenario.css'%}">
<script href="{% static 'reserva/jquery/jquery.min.js' %}"></script>
<link rel="stylesheet" href="static/reserva/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
{% endblock styles %}


{% block title %}Editar presentacion{% endblock %}

{% block content %}

<div class="container" id="formEscenario">
    <div class="row">

        <div class="col-sm-12 ">


            <h4 class="lead">Editar Presentacion de Escenario</h4>
            <hr class="my-4">
            <form role="form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.as_p }}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg"> Editar presentacion de escenario</button>

            </form>

        </div>



    </div>



</div>
{% endblock content %}