{% extends 'base.html' %}
{% load static from staticfiles %}
{% block styles %}
{% endblock styles %}
{% block title %} Escenarios {% endblock %}

{% block content %}
{% if messages %}
<div class="alert alert-success">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %} 

<div class="container">
        <div class="row">
                <h4 class="lead">Escenarios</h4>
        </div>
        <div class="row">
                <a href="{% url 'reserva:agregarEscenario' %}">[<i class="fa fa-plus" aria-hidden="true"></i>] Agregar Escenario</a>
        </div>

        <div class="row">
            <!-- mostramos los mensajes flash -->
            

        
            {% for e in lista_escenarios %}

                <div class="card" style="width: 20rem;">
                    {% if e.imagen %}
                        <img src="{{e.imagen.url}}" class="thumbnail-escenario">
                    {% else %}
                        <img src="http://via.placeholder.com/350x150">
                    {% endif %}
                    <div class="card-block">
                        <h4 class="card-title">{{ e.nombre_escenario}}</h4>
                        <p class="card-text">{{e.get_tipo_escenario_display}} - {{e.ubicacion}}</p>
                    </div>
                    <div>
                        <a href="{% url 'reserva:actualizarEscenario' e.id %}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar escenario</a>
                        <a href="{% url 'reserva:eliminarEscenario' e.id %}" class="">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar escenario</a>
                    </div>
                    
                </div>
            {% empty %}
                <h4 class="lead">Aún no se han agregado escenarios</h4>
            {% endfor %}

        

        </div>
    </div>
</div>
{% endblock content %}