{% extends 'base.html' %} 
{% load static %} 
{% block title %} Reservar{% endblock %} 

{% block content %}







{% endblock content %}

{% block scripts %}
<script>



    $(document).ready(function () {

        console.log("Ready");


        //$('#datetimepicker1').datetimepicker();



        // Inicializacion de funciones 
        agregarClase();
        mostrardatosEvento();

        // Eventos
        $(window).resize(function () {
            agregarClase();

        });

        $('#guardar').click(function () {

            mostrardatosEvento();
            campoVacio();


        });
        $('#confirmar').click(function () {
            limpiarInputs();

        })
        $("#escenario").change(function () {
            $('#escenario option:selected').text();
        });



        function agregarClase() {

            var anchoP = $(window).width();

            if (anchoP < 576) {

                $('#listaTabs').addClass('flex-column');
                $('.nav-link').append("<i></i>");
                $("i").addClass('fa fa-chevron-down');


            }


        }

        function mostrardatosEvento() {


            var campo1 = $('#nombre_evento').val();
            var campo2 = $('#capacidad_evento').val();
            var campo3 = $('#tipo_evento option:selected').text();
            var campo4 = $('#objetivo').val();
            var campo5 = $('#fecha').val();
            var campo6 = $('#hora').val();
            var campo7 = $('#medio_difusion').val();
            var campo8 = $('#req_internet').val();

            $('#campo1').text(campo1);
            $('#campo2').text(campo2);
            $('#campo3').text(campo3);
            $('#campo4').text(campo4);
            $('#campo5').text(campo5);
            $('#campo6').text(campo6);
            $('#campo7').text(campo7);
            $('#campo8').text(campo8);

        }
        function limpiarInputs() {
            $('.validate')[0].reset();

        }


        function mostrarArchivos(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#medio_difusion").change(function () {
            mostrarArchivos(this);
        });



        // Funcion para validar campos del form-->
        // nombre_evento

        $('#nombre_evento').focusin(function () {
            $(this).addClass("miClase");

        });

        $('#nombre_evento').focusout(function () {
            if ($(this).val() == "") {
                $('#al1').html("<span style='color: firebrick'>Este campo es obligatorio</span>");
            }
            else if ($(this).val.length > 200) {
                $('#al1').html("<span style='color: firebrick'>Este campo debe contener menos de 200 caracteres</span>")
            }

            else {
                $('#al1').html("<span></span>");
            }
        });

        // capacidad_evento
        $('#capacidad_evento').focusin(function () {
            $(this).addClass("miClase");

        });

        $('#capacidad_evento').focusout(function () {
            if (isNaN($(this).val())) {
                $('#al2').html("<span style='color: firebrick'>Este campo solo admite numeros</span>");
            }
            else if ($(this).val() == "") {
                $('#al2').html("<span style='color: firebrick'>Este campo es obligatorio</span>");

            }

            else {
                $('#al2').html("<span></span>");
            }


        });

        //tipo_evento

        $('#tipo_evento').focusin(function () {
            $(this).addClass("miClase");

        });



        $('#tipo_evento').focusout(function () {

            if ($('#tipo_evento option:selected').val() === "") {
                $('#al3').html("<span style='color: firebrick'>Selecciona alguna opcion</span>");
            }

            else {
                $('#al3').html("<span></span>");
            }


        });

        // objetivo_evento
        $('#objetivo').focusin(function () {
            $(this).addClass("miClase");

        });

        $('#objetivo').focusout(function () {
            if ($(this).val() == "") {
                $('#al4').html("<span style='color: firebrick'>Este campo es obligatorio</span>");
            }

            else {
                $('#al4').html("<span></span>");
            }




        });


        function campoVacio() {
            if ($('#nombre_evento').val() == "" || $('#capacidad_evento').val() == "" || $("#tipo_evento option:selected").val() == "" || $('#objetivo').val() == "") {
                alert("Faltan campos por llenar, asegurese de llenar todos los campos");
            }


        }

        $('#myTab a[href="#Paso1"] ').click(function (tabPaso1) {
            tabPaso1.preventDefault()
            $(this).tab('show')
        })
        $('#myTab a[href="#Paso2"] ').click(function (tabPaso2) {
            tabPaso2.preventDefault()
            $(this).tab('show')
        })
        $('#myTab a[href="#Paso3"] ').click(function (tabPaso3) {
            tabPaso3.preventDefault()
            $(this).tab('show')
        })

        $("#pres").click(function () {
            $("#myModal").modal();
        });

        
        jQuery('#datetimepicker3').datetimepicker({
            format:'d.m.Y ',
            inline:true,
            timepicker:false,
            onChangeDateTime:function(dp,$input)
            {
            $('#fecha').val($input.val())
            }


        });


        jQuery('#datetimepicker2').datetimepicker({
            datepicker:false,
            format:'H:i',
            inline:true,

            onChangeDateTime:function(dp,$input)
            {
                $('#hora').val($input.val())
            }
});
        jQuery.datetimepicker.setLocale('es');




    });


</script> {% endblock %}