{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% block title %} Presentaciones {% endblock %} 

{% block content%}

<div class="container">
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %} {{ message }} {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <h4 class="">Presentaciones </h4>
    </div>
    
    <div class="row">
        <a href="{% url 'reserva:agregarPresentacion' %}">[
            <i class="fa fa-plus" aria-hidden="true"></i>] Agregar Presenracion</a>
    </div>

    <div class="row">
        
        {% for img_escenario in lista_presentaciones  %}
            <div class="card" style="width: 20rem;">
                    <img src="{{ img_escenario.presentacion.url}}" style="width:300px; height:200px;">
                    
                    <div class="card-block">
                        <h4 class="card-title">{{ img_escenario.escenario}} </h4>
                    </div>
                    <div>
                            
                        <a href="{% url 'reserva:actualizarPresentacion' img_escenario.id %}">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar escenario</a>
                        <a href="{% url 'reserva:eliminarPresentacion' img_escenario.id %}" class="">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar escenario</a>
                    </div>
                    
            </div>
        {% empty %}
            <div style="margin-top: 20px;">
                <h2> No hay presentaciones agregadas</h2>
            </div>
        {% endfor %}

        


        


    </div>
</div>
{% endblock content %}